body {
    font-family: "Microsoft Sans Serif";
    font-size: 12px;
}

input[type=text]  {
    width: 400px;
}

input[name=password] {
    width: 370px;
}
 button#showPass {
     float: right;
     background: none;
     border: none;
 }
input[name=testJobId] {
    width: 70px;
}

select {
    width: 150px;
}

td.half {
    width: 150px;
}

td.label {
    width: 100px;
}

.right {
    text-align: right;
}

.half input {
    width: 142px;
}

.half select {
    width: 150px;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
}

button#reset {
    float: right;
}

div {
    padding: 5px;
}

div.config {
    width: 600px;
    float: left;
}

div.stats {
    width: 300px;
    float: right;
}

div.chart {
    width: 200px;
    height: 200px;
}

div.logs {
    width: -webkit-fill-available;
    position: fixed;
    bottom: 30px;
    top: 300px;
    padding-right: 10px;
}

label.status {
    padding: 2px;
    border-radius: 3px;
    color: white;
    border: 1px orangered solid;
    background: orangered;
}


label.status.green {
    border: 1px seagreen solid;
    background: seagreen;
}

