table, textarea, td input[type=text] {
    height: auto;
    width: -webkit-fill-available;
}

td.label {
    width: 100px;
}

td.value {
    width: 300px;
}

.logs button#clear {
    float: right;
}
