body {
    font-family: monospace;
}

table, textarea, td input[type=text] {
    height: auto;
    width: 100%;
}

textarea {
    resize: none;
}

td.label {
    width: 100px;
}

.logs button#clear, .stats button#reset {
    float: right;
}

div {
    padding: 5px;

}

div.config {
    width: 600px;
    float: left;
}

div.stats {
    width: 300px;
    float: right;
}

div.logs {
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
    padding-right: 10px;
}

label.status {
    color: red;
    font-weight: bold;
}

label.status.green {
    color: green !important;
}
